<?xml version="1.0"?>
<config>
    <modules>
        <Gvozdeva_Stores>
            <version>1.0.4</version>
        </Gvozdeva_Stores>
    </modules>
    <global>
        <blocks>
            <stores>
                <class>Gvozdeva_Stores_Block</class>
            </stores>
        </blocks>
        <helpers>
            <stores>
                <class>Gvozdeva_Stores_Helper</class>
            </stores>
        </helpers>
        <models>
            <stores>
                <class>Gvozdeva_Stores_Model</class>
                <resourceModel>stores_resource</resourceModel>
            </stores>
            <stores_resource>
                <class>Gvozdeva_Stores_Model_Resource</class>
                <entities>
                    <stores>
                        <table>stores</table>
                    </stores>
                    <offers>
                        <table>offers</table>
                    </offers>
                    <order>
                        <table>store_order</table>
                    </order>
                    <order_item>
                        <table>store_order_item</table>
                    </order_item>
                </entities>
            </stores_resource>
        </models>
        <resources>
            <stores_setup>
                <setup>
                    <module>Gvozdeva_Stores</module>
                    <connection>core_setup</connection>
                </setup>
            </stores_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <stores before="Stores_Adminhtml">Gvozdeva_Stores_Adminhtml</stores>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
         <layout>
             <updates>
                 <stores>
                     <file>gvozdeva/stores.xml</file>
                 </stores>
             </updates>
         </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <stores>
                    <file>gvozdeva/list.xml</file>
                </stores>
            </updates>
        </layout>
        <routers>
            <stores>
                <use>standard</use>
                <args>
                    <module>Gvozdeva_Stores</module>
                    <frontName>stores</frontName>
                </args>
            </stores>
        </routers>
    </frontend>
</config>
